# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd

.venv/
venv/
env/

# Environment Variables
.env
.env.*

!.env.example

# -------------------------
# Database
# -------------------------
*.db
*.sqlite
*.sqlite3

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Frontend
# -------------------------
node_modules/
dist/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python Test Cache
# -------------------------
.pytest_cache/
.mypy_cache/

# -------------------------
# Coverage
# -------------------------
.coverage
htmlcov/